<title>Node-Simple-Thumb-Gallery | <%= page %></title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/markdown-it.min.js"></script>
