<div id="mainMenuNav" class="nav navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="navbar-nav">
    <a href="#" class="nav-item nav-link">Search</a>
    <a href="#" class="nav-item nav-link">Browse</a>
    <a href="#" class="nav-item nav-link">Add</a>
  </div>
</div>  