<div id="multiGalleryNav" class="nav navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <span class="navbar-brand">Galleries:</span>
  <div class="navbar-nav">
    <% for (let x=0;x<config.galleries.length;x++) { %>
	  <a href="/?gallery=<%= config.galleries[x]._id%>" class="nav-item nav-link"><%= config.galleries[x].galleryName %></a>
	<% } %>
  </div>
</div>