<div id="multiGalleryNav" class="nav navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <span class="navbar-brand">Galleries:</span>
  <div class="navbar-nav">
    <% for (let x=0;x<galleries.length;x++) { %>
	  <a href="/?gallery=<%= galleries[x]%>" class="nav-item nav-link"><%= galleries[x] %></a>
	<% } %>
  </div>
</div>  