<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/header') %>
</head>
<body>
 <%- include('partials/mainmenu') %>
 <% if (errorMsg.length > 0) { %>
   <div class="alert alert-warning" role="alert">
      <%=errorMsg%>
   </div>
 <% } %>
<div class="container">
  <%- include('partials/addbox') %>
</div>
</body>
</html>